﻿@model Documenter.Models.Helpers.DocumentAdd

@using (Html.BeginForm("Add", "Documents", FormMethod.Post, new {enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            <div class="form-horizontal">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Файл")
            <div class="form-horizontal">
                @Html.EditorFor(model => model.Upload_file, new { htmlAttributes = new {@class = "form-control", @type = "file"}})
                @Html.ValidationMessageFor(model => model.Upload_file, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.FileStatus
            </div> 
        </div>
    </div>
}

