﻿
@{
    ViewBag.Title = "Работа с документами";
}
<div class="jumbotron">
    <h2>Работа с документами</h2>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Partial("Add")
        </div>
        <br />
        <div class="form-group">
            @Html.Partial("All")
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

