﻿@model IEnumerable<Documenter.Models.Document>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Ajax.ActionLink("Имя", "Order", new { orderby = "Name" }, new AjaxOptions { UpdateTargetId = "alldocuments" })
            </th>
            <th>
                @Ajax.ActionLink("Файл", "Order", new { orderby = "RealName" }, new AjaxOptions { UpdateTargetId = "alldocuments" })
            </th>
            <th>
                @Ajax.ActionLink("Создан", "Order", new { orderby = "Date" }, new AjaxOptions { UpdateTargetId = "alldocuments" })
            </th>
            <th>
                @Ajax.ActionLink("Владелец", "Order", new { orderby = "Autor" }, new AjaxOptions { UpdateTargetId = "alldocuments" })
            </th>
            <th>
                Скачать
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model ?? ViewBag.Documents)
        {
            <tr>
                @{
                    string name = (item.Name.Length > 30 ? item.Name.Substring(0, 30) + "..." : item.Name);
                    string realname = (item.RealName.Length > 30 ? item.RealName.Substring(0, 30) + "..." : item.RealName);
                    string date = item.Date.ToString();
                    string autor = item.Autor.Username;
                }
                <td>@name</td>
                <td>@realname</td>
                <td>@date</td>
                <td>@autor</td>
                <td>
                    <a href="@Url.Action("Download", "Documents", new { file_guid = item.Id.ToString() })">
                        <img src="~/Images/download_btn.ico" height="20%" />
                    </a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
