﻿@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Documenter</h1>
    <p class="lead">Documenter это задание для ЭЛМЫ. Возьмите меня сеньёром. Плес.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p>@Html.ActionLink("Начать работу »", "Index", "Documents", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
    }
    else
    {
        <p>@Html.ActionLink("Войти для работы »", "Index", "Documents", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
    }
</div>