﻿@model  Documenter.Models.Helpers.ClientLogOn
@{
    ViewBag.Title = "Войти в систему";
}
<div class="jumbotron">
    <h2>Войти</h2>
    <p class="lead">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Username)
                    <div class="form-horizontal">
                        @Html.EditorFor(model => model.Username)
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    <div class="form-horizontal">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Войти" class="btn btn-default" />
                </div>
            </div>
        }
    </p>
</div>

